body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.links-one{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0px;
    padding: 15px;
}

a:link{
    text-decoration: none;
    color: #FFFFFF;
}

a:visited{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
    text-decoration: none;
    color: #FFFFFF;
}

a:active{
    text-decoration: none;
    color: #FFFFFF;
}

.header-links{
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}

#color-white{
    color:#FFFFFF;
    font-size: 24px;
    flex-grow: 2;
    font-weight: 400;
}

.section-one{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.main{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.one-text{
    color:#F9FAF8;
    font-size: 18px;
}

ul{
    list-style-type: none;
}

#sign-up-one{
    display: inline-block;
    background-color: #3882F6;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25x;
    margin: 0px;
}

.first-box{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    flex-shrink: 2;
    padding: 5px;
}

.second-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5F6D75;
    width: 525px;
    height:200px
}

/*section two*/

.header-two{
    display: flex;
    font-size: 36px;
    color: #1F3937;
    font-weight: 900;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.two-text{
    font-size: 18px;
    color: #1F2937;
    width: 175px;
    text-align: center;
    margin-left: 0px;
}

.box-one{
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 5px;
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-radius: 20px;
    margin-left: 8px;
}

.groups{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 102px;
}

/*section three*/

.section-three{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.source{
    font-weight: bolder;
}

