body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.links-one{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    margin: 0px;
    padding: 15px;
}

a:link{
    text-decoration: none;
    color: #FFFFFF;
}

a:visited{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
    text-decoration: none;
    color: #FFFFFF;
}

a:active{
    text-decoration: none;
    color: #FFFFFF;
}

.header-links{
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}

#color-white{
    color:#FFFFFF;
    font-size: 24px;
    flex-grow: 2;
    font-weight: 400;
}

.section-one{
    background-color: #1F2937;
    display: flex;
}

.main{
    font-size: 48px;
    color:#FFFFFF;
}

p{
    color: #FFFFFF;
}

ul{
    list-style-type: none;
}
